<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.camera.permission"
    version="1.0.0">

    <name>CameraAccess</name>
    <description>Cordova/Phonegap plugin to check the state of Camera Permissions.</description>
    <author>Tyler Kuster</author>
    <license>MIT</license>
    <keywords></keywords>
    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=6.3.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>
    <repo>https://github.com/TylerKuster/cordova.camera.access.git</repo>
    <issue>https://github.com/TylerKuster/cordova.camera.access/issues</issue>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Access">
                <param name="ios-package" value="Access" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module src="www/ios/access.js" name="Access">
            <merges target="cordova.plugins.access" />
        </js-module>

        <header-file src="src/ios/Access.h" />
        <source-file src="src/ios/Access.m" />

        <!--BEGIN_MODULE CAMERA-->
        <config-file target="config.xml" parent="/*">
            <feature name="Access_Camera">
                <param name="ios-package" value="Access_Camera" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module src="www/ios/access.camera.js" name="Access_Camera">
            <merges target="cordova.plugins.access.camera" />
        </js-module>

        <framework src="Photos.framework" />
        <framework src="AVFoundation.framework" />

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>This app requires camera access to function properly.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>This app requires photo library access to function properly.</string>
        </config-file>

        <header-file src="src/ios/Access_Camera.h" />
        <source-file src="src/ios/Access_Camera.m" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Access" >
                <param name="android-package" value="cordova.plugins.Access"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module name="Access" src="www/android/access.js">
            <merges target="cordova.plugins.access" />
        </js-module>

        <source-file src="src/android/Access.java" target-dir="src/cordova/plugins" />

        <framework src="com.android.support:support-v4:26.+" />
        <framework src="com.android.support:appcompat-v7:26.+" />

        <!--BEGIN_MODULE CAMERA-->
        <config-file target="config.xml" parent="/*">
            <feature name="Access_Camera" >
                <param name="android-package" value="cordova.plugins.Access_Camera"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module name="Access_Camera" src="www/android/access.camera.js">
            <merges target="cordova.plugins.access.camera" />
        </js-module>

        <source-file src="src/android/Access_Camera.java" target-dir="src/cordova/plugins" />
    </platform>
</plugin>
